services:
  api:
    build: .
    container_name: maku_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./logs:/app/logs
    depends_on:
      db:
        condition : service_healthy
  
  worker:
    build: .
    container_name: maku_worker
    command: sh -c "poetry run celery -A maku_todo.celery_app.celery_app worker -l info"
    depends_on:
      - redis


  redis:
    image: redis:7
    container_name: maku_redis
    ports:
      - "6379:6379"


  db:
    image: postgres:15
    container_name: maku_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: maku_auth
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  

volumes:
  postgres_data:

