version: "3.9"

services:
  api:
    build: .
    container_name: maku_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition : service_healthy

  db:
    image: postgres:15
    container_name: maku_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: maku_auth
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
